.gradle/8.13/checksums/checksums.lock
.gradle/8.13/executionHistory/executionHistory.bin
.gradle/8.13/executionHistory/executionHistory.lock
.gradle/8.13/fileChanges/last-build.bin
.gradle/8.13/fileHashes/fileHashes.bin
.gradle/8.13/fileHashes/fileHashes.lock
.gradle/8.13/fileHashes/resourceHashesCache.bin
.gradle/8.13/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/config.properties
.gradle/vcs-1/gc.properties
.idea/AndroidProjectSystem.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/deviceManager.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/migrations.xml
.idea/misc.xml
.idea/workspace.xml
app/build.gradle.kts
build/reports/problems/problems-report.html
gradle.properties
gradle/libs.versions.toml
local.properties
local.properties
gradle/libs.versions.toml
gradle.properties
app/build.gradle.kts
